
.clients,
.actions,
.new-action,
.new-test {
    border: 2px outset #0071c1;
    /* border:hsl(0, 60%, 30%); */
    margin: 2rem;
    padding: 1rem;
    border-radius: 11px;
    width: fit-content;
}